<nav>
    <ul>
        <div class="nav_container">
            <img src="../../../assets/logo.svg" alt="logo menu">
            <li class="logotipo">
                <a href="#">ANA SHOES - </a>
            </li>

            <li>
                <a [routerLink]="['inicio']">Inicio</a>
            </li>

            <li>
                <a href="#">Category 1</a>
            </li>

            <li>
                <a href="#">Category 2</a>
            </li>

            <li>
                <a href="#">Category 3</a>
            </li>
            
           
          </div>
          

        <div class="nav_boton_contacto">
            <a href="#">Carrito</a>
        </div>
            
    </ul>


</nav>